<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Dominic Davies is a London based Web Developer who started learning to code in 2016 dreaming of becoming a Ruby on Rails developer and entrepreneur.">
  <meta name="author" content="Dominic Davies, dom.davies@gmail.com">
  <title>Dominic Davies</title>
</head>
<body>
  
</body>
</html>